<!-- Rubberduckie home page -->



<!--- old -->
<h2> Recent Quacks </h2>


<div id="carouselExampleControls" class="carousel" data-bs-ride="carousel">
    <div class="carousel-inner">
        {{#each reviews as |review|}}
        <div class="carousel-item">
            <div class="card">
                <div class="img-wrapper"><img src="https://picsum.photos/200" class="d-block w-100" alt="..."> </div>
                <div class="card-body">
                    <h5 class="card-title">{{review.title}}</h5>
                    <p class="card-text">{{review.content}}</p>
                    <a href="#" class="btn btn-dark">View</a>
                </div>
            </div>
        </div>
        {{/each}}

<script src="./../public/js/homeScript.js"> </script>