<!-- Rubberduckie home page -->



<!--- old -->
<h2> Recent Quacks </h2>


<div id="carouselExampleControls" class="carousel" data-bs-ride="carousel">
    <div class="carousel-inner">

        <div class="carousel-item active">
                <div class="card">
                    <div class="img-wrapper"><img src="https://picsum.photos/200" class="d-block w-100" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Card title 1</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                        <a href="#" class="btn btn-dark">View</a>
                    </div>
                </div>
            </div>
            
        {{#each reviews as |review|}}
        <div class="carousel-item active">
            <div class="card">
                <div class="img-wrapper"><img src="https://picsum.photos/200" class="d-block w-100" alt="..."> </div>
                <div class="card-body">
                    <h5 class="card-title">{{title}}</h5>
                    <p class="card-text">{{content}}</p>
                    <a href="#" class="btn btn-dark">View</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<script src="/js/homeScript.js"> </script>