<!-- Rubberduckie home page -->

<h2> Check out your next employer </h2>
<form>
    <input class="form-control" type="text" placeholder="Search your city..." aria-label="default input example">
    <a href="#" id="search-btn" class="view-btn btn btn-dark">Search</a>
</form>

<h2> Recent Quacks </h2>

<div id="carouselExampleControls" class="carousel" data-bs-ride="carousel">
    <div class="carousel-inner">

        {{#each reviews as |review|}}
        <div class="carousel-item active">
            <div class="card">
                <div class="img-wrapper"><img src="https://picsum.photos/200" class="d-block w-100" alt="..."> </div>
                <div class="card-body">
                    <h5 class="card-title">{{title}}</h5>
                    <p class="card-text">{{content}}</p>
                    <a href="/review/{{id}}" class="view-btn btn btn-dark">View</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<script src="/js/homeScript.js"> </script>
