<!-- Rubberduckie home page -->

 <div class="container-fluid py-2">
        <h2>Archive</h2>
        <div class="d-flex flex-row flex-nowrap overflow-auto">
            <div class="card card-body m-2">
                <img src="https://placeducky.com/photo/280/277.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Interact</a>
  </div>
            </div>
            <div class="card card-body m-2">
                <img src="https://placeducky.com/photo/280/277.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Interact</a>
  </div>
            </div>
            <div class="card card-body m-2">
                <img src="https://placeducky.com/photo/280/277.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Interact</a>
  </div>
            </div>
            <div class="card card-body m-2">
                <img src="https://placeducky.com/photo/280/277.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Interact</a>
  </div>
            </div>
            <div class="card card-body m-2">
                <img src="https://placeducky.com/photo/280/277.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Interact</a>
  </div>
            </div>
            <div class="card card-body m-2">
                <img src="https://placeducky.com/photo/280/277.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Interact</a>
  </div>
            </div>
            <div class="card card-body m-2">
                <img src="https://placeducky.com/photo/280/277.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Interact</a>
  </div>
            </div>
            <div class="card card-body m-2">
                <img src="https://placeducky.com/photo/280/277.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Interact</a>
  </div>
            </div>
            <div class="card card-body m-2">
                <img src="https://placeducky.com/photo/280/277.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Interact</a>
  </div>
            </div>
            <div class="card card-body m-2">Card</div>
            <div class="card card-body m-2">Card</div>
            <div class="card card-body m-2">Card</div>
            <div class="card card-body m-2">Card</div>
        </div>
    </div>