<h1 class="text-center"> Create review</h1>

<!-- title, content, rating, create button -->
<div class="container-fluid">

  {{!-- Form for restaurant name --}}
  <div class="row">
    <form class="d-flex flex-column align-items-center justify-content-center">
      <input id="restaurant-name" type="text" class="w-75 p-3" placeholder="Restaurant"><br>
    </form>
  </div>

  {{!-- Form for review title --}}
  <div class="row">
    <form class="d-flex flex-column align-items-center justify-content-center">
      <input id="review-title" type="text" class="w-75 p-3" placeholder="Review title"><br>
    </form>
  </div>

  {{!-- Form for content --}}
  <div class="row">
    <form class="d-flex flex-column align-items-center justify-content-center">
      <input id="review-content" type="text" id="blog-content" class="w-75 p-3"
        placeholder="Your work experience..."><br>
    </form>
  </div>

  {{!-- Form for rating --}}
  <form>
    <div class="mx-0 mx-sm-auto">
      <div class="text-center">
        <p>
          <strong>How do you rate the work environment?</strong>
        </p>
      </div>

      <div class="text-center mb-3">
        <div class="d-inline mx-3">
          Bad
        </div>

        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" />
          <label class="form-check-label" for="inlineRadio1">1</label>
        </div>

        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2" />
          <label class="form-check-label" for="inlineRadio2">2</label>
        </div>

        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3" />
          <label class="form-check-label" for="inlineRadio3">3</label>
        </div>

        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4" value="option4" />
          <label class="form-check-label" for="inlineRadio4">4</label>
        </div>

        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio5" value="option5" />
          <label class="form-check-label" for="inlineRadio5">5</label>
        </div>

        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio6" value="option6" />
          <label class="form-check-label" for="inlineRadio6">6</label>

        </div>
        <div class="d-inline me-4">
          Excellent
        </div>
      </div>
    </div>
  </form>

  <div class="row d-flex flex-column align-items-center justify-content-center">
    <button id="create-post" class="btn btn-primary col-2">Create Post</button>
  </div>

</div>